* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

button {
  background-color: #e71d36;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

.title {
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  margin-bottom: 9px;
}

.logo {
  font-size: 30px;
  color: #fff;
  margin: 10px;
}

.notice {
  background-color: rgb(241, 198, 198);
}

nav {
  display: flex;
  background-color: #777;
  color: #fff;
  align-items: center;
  justify-content: space-between;
}

nav a {
  color: #fff;
  font-size: 20px;
  margin-right: 10px;
}

.h2 {
  margin-left: 5%;
}

.btn {
  padding: 12px 14px;
  font-size: 16px;
  border: none;
  background: #777;
  border-radius: 5px;
  color: #fff;
  display: inline-block;
  margin-top: 20px;
}

.card {
  display: flex;
  align-items: center;
  background: #555;
  width: 400px;
  border-radius: 10px;
  color: #fff;
  gap: 5px;
  padding: 12px;
  margin-left: 20px;
}

.card img {
  width: 70px;
  border-radius: 8px;
  height: 70px;
}

.card p {
  margin-left: 30%;
}

ul li {
  margin-bottom: 10px;
}

.post-card {
  background: #f4f4f4;
  border-radius: 8px;
  width: 50%;
}

.show-user {
  padding: 12px;
}

.show-user .btn {
  padding: 12px 14px;
  font-size: 16px;
  border: none;
  background: #777;
  border-radius: 5px;
  color: #fff;
  display: inline-block;
  margin-top: 20px;
}

.mb-3 {
  margin-bottom: 20px;
}

.log-in {
  /* text-align: center; */
  margin: 20px auto;
}

.data {
  display: flex;
  flex-direction: column;
  padding: 30px;
  max-width: 500px;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 200px auto;
  background: #fff;
  border-radius: 10px;
}

.data h2 {
  margin-bottom: 15px;
}

.data input {
  padding: 12px;
  margin-bottom: 20px;
  border-radius: 8px;
}

.like-btn {
  background-color: #2e294e;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

.comment {
  font-size: 20px;
  margin: 10px;
}

.alert {
  background-color: #e09191;
  border-radius: 8px;
  width: 50%;
}
